<!-- templates/add_match.html -->

{% extends 'base.html' %}

{% block content %}
<h1>Add New Match</h1>
<form method="post">
  <label for="match_id">Match ID:</label>
  <input type="text" id="match_id" name="match_id">

  <label for="division">Division:</label>
  <input type="text" id="division" name="division">

  <label for="split">Split:</label>
  <input type="text" id="split" name="split">

  <label for="match_type">Match Type:</label>
  <input type="text" id="match_type" name="match_type">

  <label for="blue_team_name">Blue Team Name:</label>
  <input type="text" id="blue_team_name" name="blue_team_name">

  <label for="red_team_name">Red Team Name:</label>
  <input type="text" id="red_team_name" name="red_team_name">

  <input type="submit" value="Add Match">
</form>
{% endblock %}
