{% macro postgame_stats(match) %}
<div class="postgame-container">
    <div class="teams-wrapper">
        <!-- Blue Team -->
        <div class="team blue-team">
            <table class="team-table">
                <thead>
                    <tr>
                        <th colspan="8">
                            <span class="result {{ 'victory' if match.data.info.teams[0].win else 'defeat' }}">{{ 'Victory' if match.data.info.teams[0].win else 'Defeat' }}</span> (Blue Team)
                        </th>
                    </tr>
                    <tr>
                        <th>Champion</th>
                        <th>Name</th>
                        <th>KDA</th>
                        <th>Damage</th>
                        <th>Wards</th>
                        <th>CS</th>
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in match.data.info.participants if player.teamId == 100 %}
                    <tr class="player-row {{ 'win' if player.win else 'lose' }}">
                        <td class="champion">
                            <div style="position: relative; display: flex; align-items: center;">
                                <div style="position: relative;">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/champion/{{ match.championMap[player.championId] }}.png" width="32" alt="{{ player.championName }}">
                                    <div class="level">{{ player.champLevel }}</div>
                                </div>
                                <div class="spells" style="display: flex; flex-direction: column; margin-left: 2px;">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/spell/{{ match.spellMap.get(player.summoner1Id, 'SummonerFlash') }}.png" width="16" alt="Spell 1">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/spell/{{ match.spellMap.get(player.summoner2Id, 'SummonerFlash') }}.png" width="16" alt="Spell 2">
                                </div>
                                <div class="runes" style="display: flex; flex-direction: column; margin-left: 2px;">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/img/{{ match.runeMap[player.perks.styles[0].selections[0].perk] }}" width="16" alt="Primary Rune">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/img/{{ match.runeStyleMap[player.perks.styles[1].style] }}" width="16" alt="Secondary Rune">
                                </div>
                            </div>
                        </td>
                        <td class="name">
                            <div class="summoner-tooltip" style="position: relative;">
                                <a href="#">{{ player.summonerName }}</a>
                            </div>
                            <div class="tier">
                                <div style="position: relative;">{{ player.individualPosition }}</div>
                            </div>
                        </td>
                        <td class="kda">
                            <div class="k-d-a">{{ player.kills }}/{{ player.deaths }}/{{ player.assists }}</div>
                            <div class="kda-ratio">
                                {% if player.deaths == 0 %}
                                    Perfect
                                {% else %}
                                    {{ ((player.kills + player.assists) / player.deaths)|round(2) }}:1
                                {% endif %}
                            </div>
                        </td>
                        <td class="damage">
                            <div>
                                <div style="position: relative;">
                                    <div class="dealt">{{ player.totalDamageDealtToChampions|number_format }}</div>
                                </div>
                                <div style="position: relative;">
                                    <div class="taken">{{ player.totalDamageTaken|number_format }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="ward">
                            <div style="position: relative;">
                                <div>{{ player.visionScore }}</div>
                                <div>{{ player.wardsPlaced }} / {{ player.wardsKilled }}</div>
                            </div>
                        </td>
                        <td class="cs">
                            <div>{{ player.totalMinionsKilled + player.neutralMinionsKilled }}</div>
                            <div>{{ ((player.totalMinionsKilled + player.neutralMinionsKilled) / (match.data.info.gameDuration / 60))|round(1) }}/m</div>
                        </td>
                        <td class="items">
                            <div class="item-grid">
                                {% for i in range(0, 6) %}
                                    {% set itemId = player['item' + i|string] %}
                                    {% if itemId != 0 %}
                                        <div class="item-slot">
                                            <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/item/{{ match.itemMap[itemId] }}" width="22" alt="Item">
                                        </div>
                                    {% else %}
                                        <div class="item-slot no-item"></div>
                                    {% endif %}
                                {% endfor %}
                                <div class="item-slot trinket" style="justify-self: {{ 'start' if player.teamId == 100 else 'end' }};">
                                    {% set trinketId = player['item6'] %}
                                    {% if trinketId != 0 %}
                                        <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/item/{{ match.itemMap[trinketId] }}" width="22" alt="Trinket">
                                    {% else %}
                                        <div class="item-slot no-item"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Red Team -->
        <div class="team red-team">
            <table class="team-table">
                <thead>
                    <tr>
                        <th colspan="8">
                            <span class="result {{ 'victory' if match.data.info.teams[1].win else 'defeat' }}">{{ 'Victory' if match.data.info.teams[1].win else 'Defeat' }}</span> (Red Team)
                        </th>
                    </tr>
                    <tr>
                        <th>Items</th>
                        <th>CS</th>
                        <th>Wards</th>
                        <th>Damage</th>
                        <th>KDA</th>
                        <th>Name</th>
                        <th>Champion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in match.data.info.participants if player.teamId == 200 %}
                    <tr class="player-row {{ 'win' if player.win else 'lose' }}">
                        <td class="items">
                            <div class="item-grid">
                                {% for i in range(0, 6) %}
                                    {% set itemId = player['item' + i|string] %}
                                    {% if itemId != 0 %}
                                        <div class="item-slot">
                                            <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/item/{{ match.itemMap[itemId] }}" width="22" alt="Item">
                                        </div>
                                    {% else %}
                                        <div class="item-slot no-item"></div>
                                    {% endif %}
                                {% endfor %}
                                <div class="item-slot trinket" style="justify-self: {{ 'start' if player.teamId == 100 else 'end' }};">
                                    {% set trinketId = player['item6'] %}
                                    {% if trinketId != 0 %}
                                        <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/item/{{ match.itemMap[trinketId] }}" width="22" alt="Trinket">
                                    {% else %}
                                        <div class="item-slot no-item"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="cs">
                            <div>{{ player.totalMinionsKilled + player.neutralMinionsKilled }}</div>
                            <div>{{ ((player.totalMinionsKilled + player.neutralMinionsKilled) / (match.data.info.gameDuration / 60))|round(1) }}/m</div>
                        </td>
                        <td class="ward">
                            <div style="position: relative;">
                                <div>{{ player.visionScore }}</div>
                                <div>{{ player.wardsPlaced }} / {{ player.wardsKilled }}</div>
                            </div>
                        </td>
                        <td class="damage">
                            <div>
                                <div style="position: relative;">
                                    <div class="dealt">{{ player.totalDamageDealtToChampions|number_format }}</div>
                                </div>
                                <div style="position: relative;">
                                    <div class="taken">{{ player.totalDamageTaken|number_format }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="kda">
                            <div class="k-d-a">{{ player.kills }}/{{ player.deaths }}/{{ player.assists }}</div>
                            <div class="kda-ratio">
                                {% if player.deaths == 0 %}
                                    Perfect
                                {% else %}
                                    {{ ((player.kills + player.assists) / player.deaths)|round(2) }}:1
                                {% endif %}
                            </div>
                        </td>
                        <td class="name">
                            <div class="summoner-tooltip" style="position: relative;">
                                <a href="#">{{ player.summonerName }}</a>
                            </div>
                            <div class="tier">
                                <div style="position: relative;">{{ player.individualPosition }}</div>
                            </div>
                        </td>
                        <td class="champion">
                            <div style="position: relative; display: flex; align-items: center;">
                                <div class="runes" style="display: flex; flex-direction: column; margin-right: 2px;">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/img/{{ match.runeMap[player.perks.styles[0].selections[0].perk] }}" width="16" alt="Primary Rune">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/img/{{ match.runeStyleMap[player.perks.styles[1].style] }}" width="16" alt="Secondary Rune">
                                </div>
                                <div class="spells" style="display: flex; flex-direction: column; margin-right: 2px;">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/spell/{{ match.spellMap.get(player.summoner1Id, 'SummonerFlash') }}.png" width="16" alt="Spell 1">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/spell/{{ match.spellMap.get(player.summoner2Id, 'SummonerFlash') }}.png" width="16" alt="Spell 2">
                                </div>
                                <div style="position: relative;">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ match.latestVersion }}/img/champion/{{ match.championMap[player.championId] }}.png" width="32" alt="{{ player.championName }}">
                                    <div class="level">{{ player.champLevel }}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .postgame-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .teams-wrapper {
            display: flex;
            width: 100%;
        }
        .team {
            width: 50%;
            padding: 10px;
        }
        .blue-team {
            background-color: #e0f7ff;
        }
        .red-team {
            background-color: #ffe0e0;
        }
        .team-table {
            width: 100%;
            border-collapse: collapse;
        }
        .team-table th, .team-table td {
            border: none; /* Remove borders */
            padding: 5px;
            font-size: 12px;
        }
        .team-table thead th {
            background-color: #f2f2f2;
            text-align: center;
        }
        .player-row {
            text-align: center;
            border-bottom: 1px solid #ccc; /* Only horizontal lines between players */
        }
        .champion img {
            width: 32px;
            height: 32px;
        }
        .level {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 10px;
            padding: 1px 3px;
            border-radius: 3px;
        }
        .spells img, .runes img {
            width: 16px;
            height: 16px;
            margin-bottom: 2px;
        }
        .items .item-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2px;
            justify-content: center;
        }
        .items .item-slot {
            width: 22px;
            height: 22px;
            background-color: #ccc;
            position: relative;
        }
        .items .item-slot img {
            width: 100%;
            height: 100%;
        }
        .items .no-item {
            background-color: transparent;
        }
        .item-slot.trinket {
            width: 22px;
            height: 22px;
            background-color: #ccc;
            position: relative;
        }
        .item-slot.trinket img {
            width: 100%;
            height: 100%;
        }
        .result.victory {
            color: green;
            font-weight: bold;
        }
        .result.defeat {
            color: red;
            font-weight: bold;
        }
    </style>
</div>
{% endmacro %}
